<% content_for :header_tags do %>
  <%= javascript_include_tag 'projects_tree_view', :plugin => 'projects_tree_view' %>
  <%= stylesheet_link_tag 'projects_tree_view', :plugin => 'projects_tree_view' %>
  <%= auto_discovery_link_tag(:atom, {:action => 'index', :format => 'atom', :key => User.current.rss_key}) %>
<% end %>

<div class="contextual">
  <%= link_to(l(:label_project_new), {:controller => 'projects', :action => 'new'}, :class => 'icon icon-add') + ' |' if User.current.allowed_to?(:add_project, nil, :global => true) %>
  <%= link_to(l(:label_issue_view_all), { :controller => 'issues' }) + ' |' if User.current.allowed_to?(:view_issues, nil, :global => true) %>
  <%= link_to(l(:label_overall_spent_time), time_entries_path) + ' |' if User.current.allowed_to?(:view_time_entries, nil, :global => true) %>
  <%= link_to l(:label_overall_activity), { :controller => 'activities', :action => 'index', :id => nil } %>
</div>

<h2><%= l(:label_project_plural)%></h2>

<p>
<%= link_to(l(:expand_all), "#", :onclick => 'expandAll()')%><span>&nbsp;/&nbsp;</span><%= link_to l(:collapse_all), "#", :onclick => 'collapseAll()' %>
</p>

<table class="list">
  <% show_project_description = Setting.plugin_projects_tree_view['show_project_description'] %>
  <% show_project_modules = Setting.plugin_projects_tree_view['show_project_modules'] %>
  <% show_project_progress = Setting.plugin_projects_tree_view['show_project_progress'] %>
  <% project_view_default_expand = Setting.plugin_projects_tree_view['project_view_default_expand'] %>
  <% project_view_mode = project_view_default_expand ? "open" : "hide" %>
  <% show_project_date = Setting.plugin_projects_tree_view['show_project_date'] %>   
  <thead>
    <tr>
      <th><%= l(:label_project)%></th>
	    <% if show_project_description %>
        <th><%= l(:field_description)%></th>
      <% end %>  
	<% if show_project_modules %>
        <th><%= l(:field_go_to)%></th>
      <% end %>
      <% if show_project_progress %>
        <th><%= l(:field_versions)%></th>
      <% end %>
	    <% if show_project_date %>
        <th><%= l(:field_created_on)%></th>
      <% end %>      
    </tr>
  </thead>
  <tbody>
    <% ancestors = [] %>
    <% plevel = 0 %>
    <% project_tree(@projects) do |project, level| %>
      <% project_id = "%04d" % project.id %>
      <%  (plevel - level).times { ancestors.pop } if (level < plevel) %>
      <% has_children = project.children.any? { |p| p.visible? } %>
      <% Rails.logger.info "project #{project.identifier} has_children? #{has_children}: #{project.children}" %>
      <% Rails.logger.info "plevel #{plevel} #{level}" %>
      <% css = project.css_classes.gsub("parent", "").gsub("leaf", "") %>
      <% Rails.logger.info "css #{css}" %>
      <tr id="<%= project_id %>" class="<%= project.css_classes %> <%= level > 0 ? project_view_mode + " #{ancestors.last}" : cycle("odd", "even") %>"> 
        <td class="name" style="padding-left: <%= (16 * level).to_s %>px">
          <% if has_children %>
            <span class="expander" onclick="toggleShowHide(<%= "'#{project_id}'" %>)">&nbsp;</span>
          <% end %>
          <%= project.active? ? link_to_project(project) : h(project.name) %>
          <span class="empty <%= "my-project" if User.current.member_of?(project) %>">&nbsp;</span></td>
        <% if show_project_description %>
          <td><%= textilizable project.short_description.gsub(/\!.+\!/,""), :project => project %></td>
         <% end %>
	<% if show_project_modules %>
          <td><%= favorite_project_modules_links(project) %></td>   
	 <% end %>
        <% if show_project_progress %>
          <td><%= render_project_progress(project) %></td>
         <% end %>
	<% if show_project_date %>
          <td align="center"><%= format_date(project.created_on) %></td>
         <% end %>        
      </tr>
      <% ancestors << project_id if has_children %>
      <% plevel = level %>
    <% end %>
  </tbody>
</table>

<p>
<%= link_to(l(:expand_all), "#", :onclick => 'expandAll()')%><span>&nbsp;/&nbsp;</span><%= link_to l(:collapse_all), "#", :onclick => 'collapseAll()' %>
</p>

<% if User.current.logged? %>
<p style="text-align:right;">
<span class="my-project"><%= l(:label_my_projects) %></span>
</p>
<% end %>

<% other_formats_links do |f| %>
  <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
<% end %>

<% html_title(l(:label_project_plural)) -%>
