tr.parent { border: 1px solid #f8f8f8; }
tr.parent td.name { white-space: nowrap;  width: 300px; }
tr.child { border: 0px solid #f8f8f8; }
tr.child td.name { white-space: nowrap;  width: 300px; }
tr.leaf td.name a { margin-left: 16px; }
span.empty { text-align:right; width: 100%; cursor: pointer; }
tr.hide { display:none; }
